/* About Page Style*/

/* container */

.aboutContainer {
    max-width:1127px;
    margin:0 auto;
    margin-top:150px;
}

.title {
    font-family: 'LettersForLearners';
    font-size: 40px;
    margin-bottom:40px;
}

/* allColumn */

.subContainer {
    display:flex;
    flex-direction:column;
    width:25%;
    padding: 0 10px;
    box-sizing: border-box;
}

.allColumn {
    display:flex;
    flex-direction:row;
}

.subTitle{
    font-family: 'LettersForLearners';
    font-size: 30px;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom:10px;
}

/*images column3-4*/

.containerImage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.containerImage > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
    border-radius: 30px;
}

.textAbove {
    font-family: 'LettersForLearners';
    font-size: 40px;
    z-index: 1000;
    color: white;
}
