/* About Page Style*/

/* container */

.aboutContainer {
    max-width:1127px;
    margin:0 auto;
    margin-top:150px;
}

.title {
    font-family: 'LettersForLearners';
    font-size: 40px;
    margin-bottom:40px;
}

/* allColumn */
.containerColumns{
  display: flex;
  flex-direction: row;
}
.subContainer {
    display:flex;
    flex-direction:column;
    width:33%;
    padding: 0 8px;
    box-sizing: border-box;
}

.allColumn {
    display:flex;
    flex-direction:row;
    margin: 20px 0;
}

.subTitle{
    font-family: 'LettersForLearners';
    font-size: 30px;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom:10px;
}

.profilePic {
    margin-bottom: 30px;
}

/*images column3-4*/

.containerImage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.containerImage > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
    border-radius: 30px;
}
.bigImage{
	width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
  border-radius: 25px;
}
.smallContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
}
.smallImage{
  width: 23%;
  overflow: hidden;

}
.img{
	width: 100%;
	filter: brightness(0.7);
  border-radius: 5px;
}
.textAbove {
    font-family: 'LettersForLearners';
    font-size: 32px;
    z-index: 1000;
    color: white;
}
@media screen and (max-width: 1050px) {
  .allColumn {
    flex-flow: wrap;
  }
  .subContainer {
  width:50%;
  }
  .profilePic {
      width: 80%;
      height: auto;
  }
  .aboutContainer {
      max-width:600px;

  }
}

@media screen and (max-width: 700px) {
  .allColumn {
    flex-direction:column;
  }
  .subContainer {
  width:100%;
  }
  .containerColumns{

    flex-direction: column;
  }
  .profilePic {
      width: 40%;
      height: auto;
  }

}
