/*Collection Style*/
.collectionTitle{
  font-size: 60px;
  font-weight: lighter;
  font-family: 'LettersForLearners',sans-serif;
  margin: 130px 0px 0px 150px;
}
.collectionHolder{
  display: flex;
  flex-flow: row ;
  justify-content:space-between;
  width: 1600px;
  margin: 0 auto;
  height: auto;
  margin-top: 50px;
}
aside{
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 20px;
  font-family: 'Poppins';
}
 select {
   background: transparent;
   border: none;
   font-size: 20px;
   font-family: 'Poppins';
   margin-bottom: 10px;
   margin-right: 150px;
}
option{
  font-size: 20px;
  font-family: 'Poppins';
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 5px;
}
a{
  text-decoration: none;
  color: black;
}

.colDisplay{
  width: 400px;
  display: flex;
  flex-direction: column;

}
.imgBlock{
  border-radius: 15px;
  width: 388px;
  height: 298px;
  margin-top: 10px;
  overflow: hidden;

}
.img{
  width: 100%;
  filter: brightness(0.7);
}
span{
  font-size: 20px;
  font-family: 'Poppins';
  color: grey;
}
.divDecalage{
  height: 20px;
}
