/* HOME STYLES */

.homeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bodyContent, .bodyContentMap {
    position: relative;
    width: 100%;
    height: 650px;
    margin: 0;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bodyContentMap {
    height: 500px;
}

.right {
    text-align: right;
}

.container > .right {
    margin-left: 50%;
}

.contentTitle {
    font-family: 'LettersForLearners';
    font-size: 72px;
    font-weight: 400;
    margin: 0;
}

.contentText {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0 70px 0;
    max-width: 50%;
}

.contentBtn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 35px;
    background-color: white;
    padding: 20px 60px;
    color: black;
    text-decoration: none;
}

/* BANNER STYLES */

.bannerContainer {
    width: 100%;
    padding: 35px 0;
    background-color: #DE8496;
}

.bannerContainer > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bannerRight {
    text-align: right;
}

.bannerTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
}

.bannerText {
    font-family: 'LettersForLearners';
    font-size: 20px;
    margin-top: 10px;
    color: white;
}

.bannerProducts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bannerProducts > img {
    width: 100px;
    height: 100px;
    margin: 20px 15px 0 0;
    border-radius: 20px;
}

.bannerNewsLetter {
    padding: 18px 160px 18px 25px;
    font-size: 16px;
    border-radius: 30px;
    color: white;
    background-color: #eb6b84;
    border: none;
    outline: none;
}

.bannerNewsLetter::placeholder {
    color: white;
    opacity: 0.8;
}

@media screen and (max-width: 1050px) {
    .container > .right {
        margin-left: 0;
    }

    .container {
        margin: 0 30px;
    }

    .right {
        text-align: left;
    }

	.contentTitle {
		font-size: 36px;
    }
    
    .contentText {
        font-size: 16px;
        max-width: 100%;
        margin: 20px 0 40px 0;
    }
    
    .bodyContent {
        height: 50vh;
    }

    .contentBtn {
        padding: 14px 30px;
        font-size: 16px;
        font-weight: 300;
    }
    
    .bannerContainer > .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bannerLeft, .bannerRight {
        width: 100%;
    }

    .bannerRight {
        text-align: center;
        margin-top: 50px;
    }

    .bannerTitle {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        color: white;
    }
    
    .bannerText {
        font-family: 'LettersForLearners';
        font-size: 20px;
        color: white;
    }
}

@media screen and (max-width: 700px) {
    .bodyContent {
        height: 80vh;
    }

    .container {
        margin: 0 20px;
    }
}