/*Product Style*/

.productContainer {
    max-width: 1127px;
    margin: 150px auto 100px auto;
    display: flex;
    flex-direction: row;
}

.productImgContainer {
    position: relative;
    width: 50%;
}

.productImg {
    border-radius: 25px;
    filter: brightness(0.7);
    width: 475px;
    height: 460px;
}

.productDetailsContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.productTitle {
    font-family: 'LettersForLearners';
    font-size: 42px;
}

.productPrice {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #DE8496;
}

.productTabs {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 450px;
    margin: 10px 0 20px 0;
    justify-content: space-between;
}

.productTabs::before {
    content: '';
    bottom: 0;
    position: absolute;
    width: 125%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15)
}

.productTabLink {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.activeTab::before {
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #DE8496;
}

.productDetailsContent {
    display: none;
}

.productDetailsContent > p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}

.activeDetails {
    display: block;
}

.optionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.optionContainer > select,
.optionContainer > input {
    outline: none;
    padding: 4px 0;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    width: 150px;
    margin: 10px 0;
}

.optionContainer > input {
    margin-left: 70px;
}

.optionTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.productActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.addBtn {
    padding: 16px 60px;
    background-color: #DE8496;
    border-radius: 28px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
    box-shadow: 0px 6px 16px rgba(0,0,0,0.10);
}

.shareBtn {
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    margin-right: 25px;
    background-color: white;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.10);
    cursor: pointer;
}

.shareBtn img {
    width: 25px;
    height: 25px;
}