/*Product Style*/

.productContainer {
    max-width: 1127px;
    margin: 150px auto 100px auto;
    display: flex;
    flex-direction: row;
}

.productImgContainer {
    position: relative;
    width: 50%;
    height: 460px;
}

.productImg {
    z-index: 400;
    border-radius: 25px;
    filter: brightness(0.7);
    background-position: center;
    background-size: cover;
    width: 475px;
    height: 460px;
}

.productDetailsContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.productTitle {
    font-family: 'LettersForLearners';
    font-size: 42px;
}

.productPrice {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #DE8496;
}

.productTabs {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 450px;
    margin: 10px 0 20px 0;
    justify-content: space-between;
}

.productTabs::before {
    content: '';
    bottom: 0;
    position: absolute;
    width: 125%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15)
}

.productTabLink {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.activeTab::before {
    content: '';
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #DE8496;
}

.productDetailsContent {
    display: none;
}

.productDetailsContent > p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}

.activeDetails {
    display: block;
}

.optionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.optionContainer > select,
.optionContainer > input {
    outline: none;
    padding: 4px 0;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins';
    width: 150px;
    margin: 10px 0;
}

.optionContainer > input {
    margin-left: 65px;
}

.optionTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.productActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.addBtn, .persBtn {
    padding: 16px 60px;
    border-radius: 28px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    box-shadow: 0px 6px 16px rgba(0,0,0,0.10);
}

.addBtn {
    background-color: #DE8496;
    color: white;
}

.persBtn {
    background-color: white;
    margin-left: 15px;
    color: black;
}

.shareBtn {
    position: absolute;
    z-index: 500;
    bottom: -28px;
    left: 30px;
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    margin-right: 25px;
    background-color: white;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.10);
    cursor: pointer;
}

.shareBtn img {
    width: 25px;
    height: 25px;
}

.productRateContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.productRate {
    width: 30px;
    height: 30px;
    background-color: #DE8496;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}

.grayRate {
    background-color: #A48A7B;
}

@media screen and (max-width: 1050px) {
    .productContainer {
        flex-direction: column;
        margin: 70px auto 50px auto;
        padding: 0 10px;
    }

    .productImgContainer {
        position: relative;
        width: 100%;
        height: 550px;
    }

    .productImg {
        width: 100%;
        height: 550px;
    }

    .shareBtn {
        left: auto;
        right: 10px;
    }

    .shareBtn img {
        width: 20px;
        height: 20px;
    }

    .productDetailsContainer {
        margin-top: 30px;
        width: 100%;
    }

    .productTitle {
        font-size: 32px;
    }

    .productPrice {
        font-size: 24px;
    }

    .productTabLink {
        font-size: 18px;
    }

    .productTabs {
        width: 350px;
    }

    .productTabs::before {
        width: 95vw;
    }

    .productActions {
        flex-direction: column;
    }

    .optionContainer,
    .addBtn, .persBtn {
        width: 100%;
    }

    .addBtn, .persBtn {
        box-sizing: border-box;
        margin: 5px 0;
    }

    .addBtn, .persBtn {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .productImgContainer, .productImg {
        height: 300px;
    }
}